.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 24px;
}

#calendar {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.calendar-month {
    width: calc(100% / 4);
    text-align: center;
    margin-bottom: 10px;
}

.calendar-day {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 2px;
    border-radius: 50%;
    background-color: #eee;
}

.calendar-day.past {
    background-color: #8bc34a;
}




#dayCounter {
    font-size: 20px;
    margin-top: 20px;
}
.dayDiff {
    color: #0066ff; /* Màu xanh da trời */
  }
  .dayDiff--red {
    color: red;
  }
  
  .dayDiff--yellow {
    color: yellow;
  }
  
  .dayDiff--green {
    color: green;
  }
  
  .dayDiff--blue {
    color: blue;
  }
  
  .dayDiff--pink {
    color: pink;
  }
  
  

/* CSS */
#dayCounter.past {
    background-color: #8bc34a;
    padding-right: 20px;
    /* Tạo khoảng cách để ký tự "v" hiển thị bên cạnh */
}

#dayCounter.past .tick {
    font-weight: bold;
    font-size: 16px;
    vertical-align: middle;
}